extend base
block content 
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Please provide your email
      form.form#login
        .form__group
          label.form__label(for='email') Email address
          input#resetemail.form__input(type='email', placeholder='you@example.com', required)
        .form__group
          button#forgotpass.btn.btn--green continue