extend base
block content 
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Please enter a secure password
      form.form#login
        .form__group.ma-bt-md
          label.form__label(for='password') New Password
          input#newpassword.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='password') Confirm Password
          input#confirmpassword.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button#resetpass.btn.btn--green continue